parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:expenses\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: app/Http/Controllers/ExpensesController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$title\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/StepsController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:steps\(\)\.$#'
			identifier: method.notFound
			count: 11
			path: app/Http/Controllers/StepsController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$steps\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/VenturesController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:expenses\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/VenturesController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:steps\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/VenturesController.php

		-
			message: '#^Return type \(array\<string, mixed\>\) of method Database\\Factories\\ExpenseFactory\:\:definition\(\) should be compatible with return type \(array\<model property of App\\Models\\Expense, mixed\>\) of method Illuminate\\Database\\Eloquent\\Factories\\Factory\<App\\Models\\Expense\>\:\:definition\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: database/factories/ExpenseFactory.php

		-
			message: '#^Return type \(array\<string, mixed\>\) of method Database\\Factories\\StepFactory\:\:definition\(\) should be compatible with return type \(array\<model property of App\\Models\\Step, mixed\>\) of method Illuminate\\Database\\Eloquent\\Factories\\Factory\<App\\Models\\Step\>\:\:definition\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: database/factories/StepFactory.php

		-
			message: '#^Return type \(array\<string, mixed\>\) of method Database\\Factories\\UserFactory\:\:definition\(\) should be compatible with return type \(array\<model property of App\\Models\\User, mixed\>\) of method Illuminate\\Database\\Eloquent\\Factories\\Factory\<App\\Models\\User\>\:\:definition\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: database/factories/UserFactory.php

		-
			message: '#^Return type \(array\<string, mixed\>\) of method Database\\Factories\\VentureFactory\:\:definition\(\) should be compatible with return type \(array\<model property of App\\Models\\Venture, mixed\>\) of method Illuminate\\Database\\Eloquent\\Factories\\Factory\<App\\Models\\Venture\>\:\:definition\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: database/factories/VentureFactory.php
